<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student-Profile</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="student-profile.css" />
  </head>
  <body>
    <div class="card">
      <div class="profile-sidebar">
        <img class="profile-image" src="https://i.pravatar.cc/125" alt="" />
        <ul class="social-list">
          <li class="social-item">
            <a aria-label="twitter" class="social-link" href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="social-item">
            <a aria-label="facebook" class="social-link" href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li class="social-item">
            <a aria-label="slack" class="social-link" href="#"><i class="fa-brands fa-slack"></i></a>
          </li>
        </ul>
      </div>
      <div class="profile-main">
        <h2 class="profile-name">Mohit Khatri</h2>
        <p class="profile-position">Graphic Designer</p>
        <p class="profile-body">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          blanditiis consequatur praesentium aut aliquid, totam, hic dignissimos
          nisi provident in error dolor, velit quos fugit voluptates ipsum fuga!
          Excepturi, nobis?
        </p>
      </div>
    </div>
  </body>
</html>
